<div class="game-start" *ngIf="!challengeCompleted && valueForm">
  <app-theme></app-theme>
  <div class="player" *ngIf="questionList.length">
    <div>{{ valueForm.name }}</div>
    <div><i class="bi bi-lightning-charge-fill"></i> {{ points }}</div>
  </div>

  <div class="info-music">
    <div class="counter">{{ formatCounterValue(counter) }} seg.</div>
    <div (click)="toggleAudio()">
      <i class="bi icon-play-pause" [ngClass]="isAudioPlaying ? 'bi-pause-circle-fill' : 'bi-play-circle-fill'"></i>
      <audio #audioElement autoplay [src]="questionList[currentQuestion].questionText"></audio>
    </div>
    <div class="number-music">{{ currentQuestion+1 }} / {{ questionList.length }}</div>
  </div>

  <div class="question">De quem é essa música?</div>

  <div class="selection-alternatives">
    <ol *ngFor="let question of questionList[currentQuestion].options">
      <li (click)="questionAnswer(currentQuestion+1, question)">
        <div appIsCorrect [isCorrect]="question.correct" class="selected">{{ question.text }}</div>
      </li>
    </ol>
  </div>
</div>

<div class="game-start" *ngIf="challengeCompleted">
  <app-theme></app-theme>
  <div class="ranking">RANKING</div>
  <div class="ranking-player" *ngFor="let player of topPlayers; let i = index">
    <span class="square">{{ i+1 }}º</span>
    <div class="ranking-player-name">{{ player.name }}</div>
    <div class="ranking-player-points">
      <i class="bi bi-lightning-charge-fill"></i> {{ player.points }}</div>
  </div>
  <div class="example-button-row">
    <button (click)="home()" mat-raised-button color="primary">INÍCIO</button>
  </div>
</div>
