@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@800&family=IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

.game-start {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  position: absolute;
  background: #131212ee;
  padding: 20px;
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--first-yellow);
  border-radius: 20px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.8);
}

.player-music {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-player {
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #181818c9;
  border: 1px solid var(--first-yellow);
  height: 60px;
  margin-bottom: 1rem;
}

.player-name {
  font-family: 'Geologica', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1.3rem;
  max-width: 70%;
  color: var(--first-yellow);
}

.player-points {
  font-family: 'Geologica', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1.3rem;
  max-width: 50%;
  color: var(--first-yellow);
  i {
    margin-left: 10px;
  }
}

.info-music {
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.info-music .play-music {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1rem;
  color: var(--first-white);
  max-width: 70%;
  border: 1.5px solid var(--first-white);
  background: #181818b7;
  height: 50px;
}

.info-music .account-points {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1rem;
  color: var(--first-white);
  max-width: 70%;
  border: 1.5px solid var(--first-white);
  background: #181818b7;
  height: 50px;
}

audio {
  width: 50%;
  padding: 5px 0;
  border-radius: 1px 1px 1px 1px;
}

.audio-question {
  font-family: 'Bungee', cursive;
  width: 70%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  color: var(--first-yellow);
  font-size: 2rem;
}

.response-band {
  width: 100%;
  margin: 0;
}

.card {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

li {
  list-style-type: none;
  cursor: pointer;
}

li .card:hover {
  border: 1px solid #3f51b5;
}

ol {
  padding: 0;
}

.game-finish{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ranking {
  font-family: 'Bungee spice', cursive;
  font-size: 2rem;
  color: var(--first-orange);
}

.finish-result {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
}

.result-info-player {
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background: var(--first-white);
  height: 50px;
  margin-bottom: 1rem;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.8);
}

.square {
  border-radius: 5px;
  font-family: 'Bungee Inline', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: var(--first-yellow);
}

.result-player-name {
  font-family: 'Geologica', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3rem;
  max-width: 70%;
  color: #313131c9;
}

.result-player-points {
  position: absolute;
  right: 30%;
  font-family: 'Geologica', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1.3rem;
  max-width: 50%;
  color: #313131c9;
  i {
    margin-left: 10px;
  }
}

.btn-primary {
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
  border: 1px solid var(--first-yellow);
  padding: 10px 20px;
  color: var(--first-yellow);
}

.btn-primary:hover {
  animation: none;
  color: var(--first-white);
}

.btn-primary:focus {
  outline: none;
  background: none;
}

@media (max-width: 836px) {
  .audio-question {
    i {
      display: none;
    }
  }
}
