<div class="game-start" *ngIf="!isQuizCompleted">
  <div class="content">
    <div class="player-music" *ngIf="questionList.length">
      <div class="info-player">
        <div class="player-name">{{ playerName }}</div>
        <div class="player-points">{{ points }} <i class="bi bi-lightning-charge-fill"></i></div>
      </div>
      <div class="info-music">
        <audio #audioElement controls autoplay [src]="questionList[currentQuestion].questionText"></audio>
        <div class="account-points">{{ formatCounterValue(counter) }} seg</div>
        <div class="play-music">{{ currentQuestion+1 }} / 200</div>
      </div>
      <div class="audio-question">De quem é essa música?</div>
      <div class="response-band">
        <ol *ngFor="let question of questionList[currentQuestion].options">
          <li (click)="questionAnswer(currentQuestion+1, question)">
            <div appIsCorrect [isCorrect]="question.correct" class="card">
              {{ question.text }}
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------- FINISH SCREEN -------------------------- -->

<div class="game-finish" *ngIf="isQuizCompleted">
  <div class="content">
    <div class="player-music">
      <div class="game-over">
        <span>GAME OVER</span>
      </div>
     <div class="info-result">
      <div>{{ playerName }}</div>
      <div>VOCÊ FEZ {{ points }} PONTOS</div>
     </div>
      <button (click)="init()" class="btn btn-primary">INÍCIO</button>
    </div>
  </div>
</div>
