@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@800&family=IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&family=Poppins:wght@300;400&display=swap');

.game-start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.player {
  font-family: 'Geologica', sans-serif;
  border-radius: 5px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 2px solid var(--second-dark-green);
  height: 60px;
  padding: 0 20px;
  background: var(--first-orange);
  color: var(--first-white);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.info-music {
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 2px solid var(--first-orange);
  height: 60px;
  padding: 0 20px;
  color: var(--first-orange);
}

.icon-play-pause {
  font-size: 5rem;
  color: var(--second-dark-green);
  cursor: pointer;
  display: flex;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.icon-play-pause:hover {
  color: var(--first-orange);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: color 0.3s, text-shadow 0.3s;
}

.question {
  width: 400px;
  font-family: 'Geologica', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--first-orange);
  margin: 1.3rem 0 0.5rem 0;
}

.selection-alternatives {
  width: 400px;
  display: flex;
  flex-direction: column;
}

ol {
  padding: 0;
}

li {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  .selected {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    border: 1px solid gray;
    border-radius: 5px;
    height: 60px;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    padding: 0 20px;
  }

  .selected:hover {
    background: rgb(245, 245, 245);
    border: 1.1px solid #000000;
  }
}

@media (max-width: 500px) {
  .player {
    width: 340px;
  }

  .info-music {
    width: 340px;
  }

  .icon-play-pause {
    font-size: 4.6rem;
  }

  .question {
    width: 340px;
    font-size: 1.5rem;
  }

  .selection-alternatives {
    width: 340px;
  }

  li {
    .selected {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 375px) {
  .player {
    width: 300px;
  }

  .info-music {
    width: 300px;
  }

  .icon-play-pause {
    font-size: 4.3rem;
  }

  .question {
    width: 300px;
    font-size: 1.3rem;
  }

  .selection-alternatives {
    width: 300px;
  }

  li {
    .selected {
      font-size: 1rem;
    }
  }
}

@media (max-width: 320px) {
  .player {
    width: 240px;

    i {
      display: none;
    }
  }

  .info-music {
    width: 240px;
  }

  .icon-play-pause {
    font-size: 4.3rem;
  }

  .question {
    width: 240px;
    font-size: 1.1rem;
  }

  .selection-alternatives {
    width: 240px;
  }

  li {
    .selected {
      font-size: 0.9rem;
    }
  }
}

// ---- SCREEN FINISH ----

.ranking {
  font-family: 'Bungee spice', cursive;
  font-size: 2rem;
  color: var(--first-orange);
  margin-bottom: 2rem;
}

.ranking-player {
  font-family: 'Geologica', sans-serif;
  border-radius: 5px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--second-dark-green);
  height: 60px;
  background: var(--first-orange);
  color: var(--first-white);
  font-size: 1.3rem;
  margin: 5px 0;
}

.square {
  border-radius: 3px;
  font-family: 'Bungee Inline', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 56px;
  height: 56px;
  background: var(--second-dark-green);
}

.ranking-player-points {
  margin-right: 20px;
}

.example-button-row button,
.example-button-row a {
  margin-top: 2rem;
  margin-right: 8px;
  height: 50px;
  width: 100px;
  background: var(--second-dark-green);
}

@media (max-width: 500px) {
  .ranking-player {
    width: 340px;
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
  .ranking-player {
    width: 300px;
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .ranking-player {
    width: 240px;
    font-size: 0.9rem;
  }
}
