@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@800&family=IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

.game-start {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('../../../assets/img/background-start1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  position: absolute;
  background-image: linear-gradient(to bottom, #3b3b3bef, #131212ee);
  padding: 20px;
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--first-yellow);
  border-radius: 20px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.8);
}

.player-music {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-player {
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #414141d3, #181818c9);
  border: 1px solid var(--first-white);
  height: 60px;
  margin-bottom: 1rem;
}

.info-player .player-name {
  font-family: 'Geologica', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1.3rem;
  max-width: 70%;
  background-image: linear-gradient(to bottom, var(--first-yellow), var(--first-orange));
    -webkit-background-clip: text;
    color: transparent;
}

.info-player .player-points {
  font-family: 'Geologica', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1.3rem;
  max-width: 50%;
  background-image: linear-gradient(to bottom, var(--first-yellow), var(--first-orange));
    -webkit-background-clip: text;
    color: transparent;

  i {
    margin-left: 10px;
  }
}

.info-music {
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.info-music .play-music {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1rem;
  color: var(--first-white);
  max-width: 70%;
  border: 1.5px solid var(--first-white);
  background: linear-gradient(to bottom, #414141ce, #181818b7);
  height: 50px;
}

.info-music .account-points {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1rem;
  color: var(--first-white);
  max-width: 70%;
  border: 1.5px solid var(--first-white);
  background: linear-gradient(to bottom, #414141ce, #181818b7);
  height: 50px;
}

audio:hover,
audio:focus,
audio:active {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

audio {
  width: 50%;
  padding: 5px 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
}

.audio-question {
  font-family: 'Bungee', cursive;
  width: 70%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  background-image: linear-gradient(to bottom, var(--first-yellow), var(--first-orange));
    -webkit-background-clip: text;
    color: transparent;
  font-size: 2rem;
}

.response-band {
  width: 100%;
  margin: 0;
}

.card {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

li {
  list-style-type: none;
  cursor: pointer;
}

li .card:hover {
  border: 1px solid #3f51b5;
}

ol {
  padding: 0;
}


@media (max-width: 836px) {
  .audio-question {
    i {
      display: none;
    }
  }
}
