.icon-theme {
  position: absolute;
  right: 5rem;
  top: 2rem;
  font-size: 1.3rem;
  color: var(--orange);
}

button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
