<div class="game-home">
  <div class="loading-container" *ngIf="showLoading; else gameContainer">
    <span class="master-music">Master</span>
    <i class="bi bi-lightning-charge-fill"></i>
    <span class="master-music">Music</span>
  </div>
  <ng-template #gameContainer>
    <div class="content">
      <div class="brand">
        <span>Master</span>
        <i class="bi bi-lightning-charge-fill"></i>
        <span>Music</span>
      </div>
      <form [formGroup]="form">
        <div class="input-container">
          <input #message maxlength="10" class="form-control form-control-lg" placeholder="DIGITE SEU NOME" type="text"
            formControlName="name" required>
          <mat-hint class="hint" align="end">{{message.value.length}} / 10</mat-hint>
        </div>
        <mat-form-field>
          <mat-label>Level</mat-label>
          <mat-select formControlName="level" id="level" class="select" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let level of levels" [value]="level.value">{{ level.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button (click)="onStart()" class="btn btn-primary">START</button>
    </div>
  </ng-template>
</div>
