@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@800&family=IM+Fell+DW+Pica&display=swap');

.game-home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loading-container {
  font-family: 'Geologica', sans-serif;
  font-size: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-shadow: 0 25px 25px rgba(0, 0, 0, 0.8);
  .master-music {
   color: var(--first-green);
  }

  i {
    color: var(--first-yellow);
    font-size: 8rem;
    margin: 0 0.5rem;
  }
}

.brand {
  font-family: 'Geologica', sans-serif;
  font-size: 1.5rem;
  color: var(--first-green);

  i {
    color: var(--first-yellow);
  }
}

.content {
  position: absolute;
  background-image: linear-gradient(to bottom, #3b3b3bef, #131212ee);
  padding: 20px;
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--first-yellow);
  border-radius: 20px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.8);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.hint {
  color: var(--first-white);
  font-size: 0.8rem;
  text-align: end;
  margin-right: 10px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}

.form-control-lg {
  width: 350px;
  box-shadow: none;
  color: #333;
}

.input-container {
  margin-bottom: 1rem;
  text-align: end;
}

input {
  text-align: center;
  height: 56px;
  border-radius: 8px;
  text-transform: uppercase;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.8) !important;
}

input:focus::placeholder {
  color: #fff;
}

input::placeholder {
  font-size: 1rem;
  text-align: center;
  color: #949494;
}

.btn-primary {
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
  border: 1px solid var(--first-yellow);
  padding: 10px 20px;
  color: var(--first-yellow);
}

.btn-primary:hover {
  animation: none;
  color: var(--first-white);
}

.btn-primary:focus {
  outline: none;
  background: none;
}
