@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  background: var(--background);
}

:root {
  --orange: #7C3E66;
  // --green: #116A7B;
  --green: #FF8882;
  --hover: rgba(255, 134, 128, 0.2);
  --background: #F2EBE9;
}

:root .dark-theme {
  --orange: #F2EBE9;
  --hover: rgba(255, 255, 255, 0.85);
  --background: #7C3E66;
}

.mat-mdc-select {
  color: var(--green) !important;
}

.mat-mdc-form-field  {
  color: var(--orange) !important;
}

.mat-mdc-form-field-infix {
  min-width: 120px !important;
  width: 370px !important;
}

@media (max-width: 500px) {
  .mat-mdc-form-field-infix {
    width: 310px !important;
  }
}

@media (max-width: 375px) {
  .mat-mdc-form-field-infix {
    width: 270px !important;
  }
}

@media (max-width: 320px) {
  .mat-mdc-form-field-infix {
    width: 210px !important;
  }
}
